*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
box-sizing: border-box;

}
.barra .nav-superior .days {
    background-color: #ffce00;

    
}
header {
    background-color: #ffce00;
}

.navbar-brand {
    font-family: hoef ,Georgia,Times New Roman,Times,serif;
    font-size: 50px;
}
.nav-superior {
    margin-left: 10px;
}
.days {
    text-align: right;
    margin-top: -20px;
    margin-right: 10px;
}

.background-image {
    background-image: url(../img/porta.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
} 


body {
    background-color: white;
}

/*MAIN del index*/
.title1 {
    font-family: hoef ,Georgia,Times New Roman,Times,serif;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    color: black
}
.title2{
    padding: 20px;
    font-family: hoef,Georgia,Times New Roman,Times,serif;
    text-align: center;
    color: #ffce00;
}
.caja {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.button1 {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #ffce00;
    width: 150px;
    height: 200px;
    font-size: medium;
    
}

.button1 a{
text-decoration: none;
}
.button1:hover {
    background-color: black;
    color: #ffce00;
}
.catering {
    width: 300px;
    height: 100px;
}

.article1 {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #363636;

}

.article3 {
    font-family: gil,Arial,sans-serif;
    font-size: 20px;
    width: 400px;
    color: black;
}
.article2{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #363636;
    height: 80px;
    
}

.article4 {
    font-family: gil,Arial,sans-serif;
    font-size: 20px;
    color: black;
    width: 200px;

    

}


.catering {
    margin: 50px;
    width: 600px;
    height: 400px;
    border-radius: 50px;
}

.brunch {
    width: 500px;
    height: 400px;
    border-radius: 50px;

}

.article2 {
    width: 100%;
    font-family: sans-serif;
}

.contenedor {
    display: flex;
    align-items: center;
}

.container-img {
    flex: 1;
    padding: 20px;
}

.container-articles {
    flex: 2;
    padding: 60px;
}

.container-articles h3 {
    margin-bottom: 20px;
}

.container-articles p {
    margin-bottom: 50px;
}

.button {
    border-radius: 10px;
    background-color: #ffce00;
    width: 150px;
    height: 50px;
    font-size: large;
}
.button:hover{
    background-color: black;
    color: burlywood;
}

.container-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.brunch {
    width: 500px;
    height: 400px;
    border-radius: 50px;
}
.container-articles2 {
    flex: 1;
    padding: 50px;

}

.container-img2 {
    flex: 2;
    padding: 30px;
}






.aside {
    background-color: #ffce00;
    display: flex;
    flex-direction: column;
}

.aside-title{
    font-family:hoef ,Georgia,Times New Roman,Times,serif;
    font-size: 40px;
    color: #363636;;
    text-align: center;
    padding: 50px;
    }

.aside-text {
text-align: center;
font-family: gil,Arial,sans-serif;
font-size: 20px;
padding: 100px;
max-width: 100%;
margin: 0 auto;
}

.social {
    background-color: white;
    padding: 80px;
    font-size: x-large;
}

.besocial {
    padding: 50px;
    font-family: cursive;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.insta {
    padding-left: 50px;
}

.line-3 {
    width: 30%;
    height: 2px;
    background-color: burlywood;
    margin: 0 auto;

}

.icons {
    margin-top: 100px;
}
/*CAKES PAGES*/

.cakes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-family: hoef ,Georgia,Times New Roman,Times,serif;
}

.cake {
    width: 250px;
    height: 200px;
}

.cake-text{
    display: flex;
    color: white;
    font-size: larger;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-cakes{
    color: black;
    margin-right: 300px;
    padding: 20px;
    font-size: xx-large;
    font-family: hoef ,Georgia,Times New Roman,Times,serif;
}

.title-cake {
    color: black;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}
.cakes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
}


.cake {
    width: 100%; 
    max-height: 200px; 
    object-fit: cover; }

.container-section-cake {
    padding: 100px;
}

/*menu*/

.menu {
    color: burlywood;
}

.menu-list {
    color: black;
    background-color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/*ABOUT US*/
.menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.about-h1 {
    color: black;
    font-family: hoef ,Georgia,Times New Roman,Times,serif;
    
}

.line{
    width: 50%;
    height: 2px;
    background-color: #ffce00;
    margin: 0 auto;
}

.aboutus-title{
    height: 50px;
font-family: hoef ,Georgia,Times New Roman,Times,serif;
text-align: center;
color: black
}

.aboutus-firs-img{
    width: 30%;
    height: 400px;
    margin-left: 530px;
    margin-top: 50px;
    border-radius: 10px;
}

.aboutus-text1 {
    text-align: center;
font-family: cursive;
font-size: medium;
font-style: italic;
padding: 70px;
color: black;
width: 50%;
margin-left: 400px;

}
.line-2{
    width: 30%;
    height: 2px;
    background-color: #ffce00;
    margin: 0 auto;
}


.aboutus-text2{
    text-align: left;
font-family: cursive;
font-size: medium;
font-style: italic;
padding: 70px;
color: black;
width: 50%;
}

.aboutus-text3 {
    text-align: center;
    font-family: cursive;
    font-size: medium;
    font-style: italic;
    padding: 70px;
    color: black;
    width: 50%;
    margin-left: 800px;
    margin-top: -270px;

}

.line-2 {
    display: flex;
    justify-content: space-between;

    
    
}

.aboutus-text4 {
    
    font-family: cursive;
    font-size: medium;
    font-style: italic;
    background-color: #f4f4f4;

}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.kate{
    flex: 1;
    border-radius: 10px;
    height: 400px;
    width: 30%;
    margin: 50px;

}

.cafeteria{
    flex: 2;
    border-radius: 5px;
    width: 30%; /* Ancho deseado */
    height: 400px;
    margin: 50px;
    



}

/*Contact*/
.container-form {
    margin: 30px;
}

/*FOOTER*/


.section-footer {
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: #ffce00;
    padding: 100px;
}

.follow-us {
    display: flex;
    flex-direction: column;
    

}



.facebook {
    padding: 30px;
}

.facebook:hover {
    color: burlywood;
}

.instagram:hover {
    color: burlywood;
}

.copyright {
    font-size: small;
    padding-left: 600px;
    color: black;
    
}

.contact {
    font-size: 20px;
    padding: 40px;
}

.opening-hs {
    font-size: 20px;
    padding: 40px;
}

.follow {
    font-size: 20px;
    padding: 40px;
    
}


/*FIN DE FOOTER*/
.lunch {
    display: flex;
    align-items: center;
}

/*Media Quieris*/



/* Media query para dispositivos móviles */
/*index*/ 
@media (max-width: 768px) {
    .section-footer, .copyright {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .contact, .opening-hs, .follow {
        font-size: 16px;
    }
    .caja {
        align-items: center;
        flex-direction: column;
    }

    .aside {
            max-width: 100%;
            text-align: center;
            align-items: center;
        }
        .barra {
            max-width: 100%;
            text-align: left;
            align-items: center;
            flex-direction: column;
        }

        .days {
            margin: 10px 0;
        }
    
        .catering {
            width: 100%;
            height: auto;
            margin-left: auto;
        }
        .brunch {
            width: 100%;
            height: auto;
        }

    .contenedor {
        max-width: 100%;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .container-articles {
        flex-direction: column;
        margin: 10px 0;
    }

    .container-2 {
        max-width: 100%;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .container-articles2 {
        flex-direction: column;
        margin: 10px 0;
    }
}
/*MENU*/
@media (max-width: 769px) {
    .img-menu {
        max-width: 100%;
        flex-direction: column;
    }
}
/*AboutUs*/
@media (max-width: 768px) {

    .first-section {
        display: flex;
        flex-direction: column;
        }
        .aboutus-firs-img {
            margin-left: 5px;
            width: 100%;
        }
        .aboutus-text1 {
            margin-left: 100px;
            height: auto;
        }
        .line-2 {
            
            margin-left: 150px;
        }
        .second-section {
            display: flex;
        }
        .aboutus-text2 {
            margin-left: 120px;
            max-width: 100%;
            height: 10px;
            text-align: center;
            align-items: center;
        }
        .aboutus-text3 {
        margin-top: 150px;
        }
        .imagenes {
            display: flex;
            flex-direction: column;
            margin-top: 300px;
            margin-right: 100px;
        }
        .kate {
            width: 300px;
            
            
        }
        .cafeteria {
            width: 300px;
        }
    }
/*Cakes*/
@media (max-width: 768px) {
    .cakes-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

    .cake {
        max-height: 150px; /* Ajusta el tamaño para dispositivos móviles */
    }

    @media (max-width: 768px) {
        .cake-content {
            padding: 30px;
            text-align: center;
            
        }

        .title-cakes {
            margin-right: 50px;
        }
}
/*Contact*/
@media (max-width: 769px) {
    .form-principal {
        flex-direction: column;
    }
}