/* Media query para dispositivos móviles */
/*index*/ 
@media (max-width: 768px) {
    #button1 {
        margin-top: 100px;
    }
    #button2 {
        margin-top: 100px;
    }
    #button3 {
        margin-top: 100px;

    }

    .caja {
        align-items: center;
        flex-direction: column;
        }
    .article1{
        font-size: 25px;
        } 
    .article3 {
        font-size: 20px;
        }

    .aside {
            max-width: 100%;
            text-align: center;
            align-items: center;
        }
    .aside-text {
        font-size: 12px;
        line-height: 1.5;
        width: 100%;
        height: auto;
        }
        .barra {
            max-width: 100%;
            text-align: left;
            align-items: center;
            flex-direction: column;
        }

        .days {
            margin: 10px 0;
        }
    
        .catering {
            width: 100%;
            height: auto;
            margin-left: auto;
        }
        .brunch {
            width: 100%;
            height: auto;
        }

    .contenedor {
        max-width: 100%;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .container-articles {
        flex-direction: column;
        margin: 10px 0;
    }

    .container-2 {
        max-width: 100%;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .container-articles2 {
        flex-direction: column;
        margin: 10px 0;
    }
    .section-footer, .copyright {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .contact, .opening-hs, .follow {
        font-size: 16px;
    }
}
/*MENU*/
@media (max-width: 769px) {
    .img-menu {
        max-width: 100%;
        flex-direction: column;
        object-fit: cover;
    }
}
/*AboutUs*/
@media (max-width: 768px) {

    .first-section {
        display: flex;
        flex-direction: column;
        }
        .aboutus-firs-img {
            margin-left: 5px;
            width: 100%;
        }
        .aboutus-text1 {
            margin-left: 20px;
            height: auto;
            width: 100%;
        }
        .line-2 {
            
            margin-left: 150px;
        }
        .aboutus-text2 {
            margin-left: 20px;
            text-align: center;
            align-items: center;
            height: auto;
            width: 100%;
            
        }
        .aboutus-text3 {
        height: auto;
        width: 100%;
        }
        .imagenes {
            display: flex;
            flex-direction: column;
            margin-top: 400px;
            margin-left: 40px;
        }
        .kate {
            width: 300px;
            
            
        }
        .cafeteria {
            width: 300px;
        }
    }
/*Cakes*/
@media (max-width: 768px) {
    .cakes-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 768px) {
    .cake-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

        .title-cakes {
            margin-right: 50px;
            width: 100%;
            height: auto;
        }
        
    }
/*Contact*/
@media (max-width: 769px) {
    .form-principal {
        flex-direction: column;
    }
}