$theme-colors: (
    primary: #ffce00,
    secondary: black,
    tertiary: white, 
);

$sizes: (
    small: 20px,
    medium: 40px,
    large: 60px,
    x-large: 80px,
);

$border-radius: (
    x-small: 5px,
    small: 10px,
    large: 50px,
);